<div class="text-field {{ fieldClass }}">
  <label class="text-field__wrapper">
    <span class="text-field__label">{{ label }}</span>
    <input name="{{ name }}"
           type="{{ inputType }}"
           pattern="{{ pattern }}"
           class="text-field__input"
           placeholder="Enter text"
           {{ required }}
    />
  </label>

  <span class="text-field__error {{ errorClass }}">{{ errorText }}</span>
</div>
