@import 'src/assets/variables';

.text-field {
  height: 90px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $color-border;

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: $color-text-error;
    display: none;
    font-size: 0.8em;

    &_show {
      display: block;
    }
  }

  &.text-field_block {
    height: 60px;
    position: relative;

    & > .text-field__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      background: $color-background-secondary;
      border-radius: 10px;
      padding: 0 15px;

      & .text-field__input {
        border-bottom: none;
      }
    }

    & > .text-field__error {
      margin-top: -5px;
      padding-left: 15px;
    }
  }
}
