<form id="modalDialog" class="modal-dialog__wrapper {{ show }}">
  <div class="modal-dialog">
    <h2 class="modal-dialog__title">{{ title }}</h2>

    <div class="modal-dialog__search">{{ search }}</div>

    {{ searchButton }}

    <div class="modal-dialog__body">{{ body }}</div>

    <div class="modal-dialog__buttons">{{ cancelButton }}{{ addButton }}</div>
  </div>
</form>
