<form class="modal-dialog__wrapper {{ show }}">
  <div class="modal-dialog">
    <h2 class="modal-dialog__title">{{ title }}</h2>

    <div class="modal-dialog__text-field">{{ textField }}</div>

    <div class="modal-dialog__buttons">{{ addButton }}{{ cancelButton }}</div>
  </div>
</form>
