<form class="login-block">
  <h2 class="login-block__title">Login</h2>

  {{ inputUsername }}
  {{ inputPassword }}

  <div class="login-block__button">{{ button }}</div>

  <div class="login-block__link">{{ registrationLink }}</div>
</form>
