@import 'src/assets/variables';

.login-block {
  width: 300px;

  background-color: $color-background-secondary;
  border: 1px solid $color-border;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  padding: 0 20px 10px;

  &__title {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;

    margin: 10px 0;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__link {
    text-decoration: none;

    text-align: center;

    margin: 20px 0;
  }
}
