<form class="login-block" onsubmit="{{ submitFoo }}(event)">
  <h2 class="login-block__title">Login</h2>

  {{ inputFieldUsername }}
  {{ inputFieldPassword }}

  <div class="login-block__button">{{ loginButton }}</div>

  <a href="registration.html" class="login-block__link">Registration?</a>
</form>
