<form class="input-file">
  <input name="file" type="file" id="input__file" style="display: none">
  <label for="input__file" class="input-file__label">
    <img class="input-file__add-img" src="{{ img }}" alt="add file" />
  </label>
</form>
