<div class="user-settings {{ classes }}">
  <div class="user-settings__portrait-wrapper">
    <div class="user-settings__portrait">
      {{ portrait }}
    </div>

    {{ logout }}
  </div>

  {{ formData }}

  {{ formPassword }}

  {{ flag }}
</div>
