<div class="user-settings">
  <div class="user-settings__portrait-wrapper">
    <div class="user-settings__portrait"></div>

    <img class="user-settings__logout" src="{{ logoutImg }}" width="40px" height="40px" alt="Logout" />
  </div>

  {{ formData }}

  {{ formPassword }}

  {{ flag }}
</div>
