<div class="chat-preview">
  <div class="chat-preview__img">{{ avatar }}</div>

  <div class="chat-preview__name">{{ title }}</div>

  <div class="chat-preview__message">{{ last_text }}</div>

  <div class="chat-preview__time">{{ last_time }}</div>

  <div class="chat-preview__count">{{ unread_count }}</div>
</div>
