@import 'src/assets/variables';

.chat-preview {
  margin-top: 30px;
  height: 80px;
  background: $color-background-secondary;
  border: 1px solid $color-border;
  border-radius: 10px;

  display: grid;
  grid-template: 40px 40px / 80px 1fr 50px;
  grid-template-areas:
    'img name time'
    'img message count';
  grid-column-gap: 20px;
  padding-right: 20px;
  align-items: center;

  &__img {
    grid-area: img;
    width: 80px;
    height: 80px;

    background: $color-background-thirdly;
    border-radius: 10px;
  }

  &__name {
    grid-area: name;
    font-size: 1.2em;
  }
  &__message {
    grid-area: message;
    opacity: 0.6;
  }
  &__time {
    grid-area: time;
  }
  &__count {
    grid-area: count;
  }

  &__time,
  &__count {
    width: 50px;
    height: 24px;

    font-size: 0.8em;
    font-weight: bold;
    background: $color-background-primary;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
