<div class="portrait">
  <input type="file" id="avatar" name="avatar" accept="image/*" class="portrait__input">
  <img src="{{ src }}" alt="portrait" class="portrait__image" style="{{ style }}">
</div>
