<label for="avatar">
  <span class="portrait">
      <img src="{{ src }}" alt="portrait" class="portrait__image" style="{{ style }}">
  </span>

  <input type="file" id="avatar" name="avatar" accept="image/*" class="portrait__input">
</label>
