<div class="project-description">
  <h1>Welcome!</h1>

  <p>
    This innovative messenger will open to you a huge world of remote communication.
  </p>

  <p class="project-description__upd">
    It also comes in a beautiful cover.
  </p>
</div>
