<main class="error">
    <span class="error__code">{{ errorCode}}</span>

    <img class="error__img" src="{{ errorImg }}" width="380" alt="Error image" />

    <span class="error__text">{{ errorText}}</span>

    <a href="/" class="error__back-link">Go back</a>
</main>
