<main class="error" style="{{ errorStyle }}">
    <h1 class="error__code">{{ errorCode}}</h1>

    <img class="error__img" src="{{ errorImg }}" height="300px" alt="Error image" />

    <p class="error__text">{{ errorText}}</p>

    <a href="/" class="error__link">Go back</a>
</main>
