<form class="message-field">
  {{ fileInput }}
  {{ textField }}
  <button type="submit" class="message-field__send-button">
    <img class="message-field__send-img" src="{{ img }}" alt="Send" />
  </button>
</form>
