@import 'src/assets/variables';

.message-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-background-secondary;
  border-radius: 10px;

  & input {
    flex-grow: 1;
    border-bottom: none;
    border-radius: 10px;
    margin-left: 15px;
  }

  &__send-button {
    height: 40px;
    width: 40px;
    border: none;
    background: $color-background-thirdly;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__send-img {
    width: 30px;
    height: 30px;
  }
}
