<div class="chat-info">
  <div class="chat-info__img">{{ img }}</div>
  <div class="chat-info__name">{{ name }}</div>
  <div class="chat-info__burger">
    <div class="chat-info__burger-point"></div>
    <div class="chat-info__burger-point"></div>
    <div class="chat-info__burger-point"></div>
  </div>
</div>
