@import 'src/assets/variables';

.chat-info {
  height: 80px;
  background: $color-background-secondary;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  display: flex;
  align-items: center;

  &__img {
    width: 80px;
    height: 80px;
    background: $color-background-thirdly;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    flex-grow: 1;
    padding-left: 15px;
    font-size: 1.4em;
  }
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}
