<div class="general-body">
  <div class="general-body__chat-info">
    <div class="general-body__chat-info-img">{{ img }}</div>
    <div class="general-body__chat-info-name">{{ name }}</div>
    <div class="general-body__chat-info-burger">
      <div class="general-body__chat-info-burger-point"></div>
      <div class="general-body__chat-info-burger-point"></div>
      <div class="general-body__chat-info-burger-point"></div>
    </div>
  </div>

  <div class="general-body__messages">
    Messages
  </div>

  <div class="general-body__message-field">
    {{ textField }}
  </div>
</div>