<form onsubmit="{{ regFoo }}" class="registration">
  <div class="registration__fields">
  {{ fields }}
  </div>

  <div class="registration__buttons">
  {{ buttons }}

    <div class="registration__link" >{{ loginLink }}</div>
  </div>
</form>
