<form onsubmit="{{ regFoo }}" class="registration">
  <div class="registration__fields">
  {{ fields }}
  </div>

  <div class="registration__buttons">
  {{ buttons }}

    <a class="registration__link" href="">Login</a>
  </div>
</form>
