@import 'src/assets/variables';

.messages {
  box-sizing: border-box;
  margin: 30px 0;
  flex-grow: 1;
  border: 1px solid $color-border;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
