<div class="main">
  <aside class="left-page {{ asideClass }}">{{ aside }}</aside>
  <main id="main" class="right-page">{{ main }}</main>
  {{ clips }}
  {{ userSettings }}
  {{ modalDialog }}
</div>
