$color-background-primary: #d9d9d9;
$color-background-secondary: #ababab;
$color-background-thirdly: #605959;
$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-text-error: #c70101;
$color-border: #000000;

$color-settings-flag: #742323;
