<div class="registration-rules">
  <h1>Registration rules</h1>

  <ul>
    <li>
      The first and last name must be written with a capital letter,
      do not contain spaces and numbers, as well as special characters
    </li>

    <li>
      The login must consist of 3-20 Latin characters, numbers. Must not have spaces or special characters
    </li>

    <li>
      The password must consist of 8 to 40 characters. There must be at least one capital letter and a number
    </li>

    <li>
      The phone must consist of 10 to 16 digits, can start with a plus sign
    </li>
  </ul>
</div>
